@import "nib"
@import "nib/vendor"
.header
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &-menu
        width: 800px;
        display: flex;
        justify-content: space-between;
        h1
            margin 0
        &Logo
            background-color transparent
        &Item
            display: flex;
            align-items: center;
            ul
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-around;
                li
                    padding 1em
            
            
